form{
    width: 400px;
    margin: auto;
    border: 1px solid cornsilk;
    box-shadow: 5px 5px 5px 5px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.datos{
    margin: auto;
    width: 900px;
    text-align: center;
}